<%= form_for([:admin, @event]) do |f| %>

  <%= f.error_messages %>

  <%= field_set_tag 'Basic' do -%>
    <div class="field">
      <%= f.label :headline, 'Name' %><br />
      <%= f.text_field :headline %>
    </div>

    <div class="field">
      <%= f.label :start_date %><br />
      <% start_date = (f.object.start_date || Date.today) %>
      <%= f.text_field :start_date, :class => "datepicker", :value => l(start_date) %>
    </div>
    
    <div class="field">
      <%= f.label :end_date %><br />
      <% end_date = (f.object.end_date || Date.today) %>
      <%= f.text_field :end_date, :class => "datepicker", :value => l(end_date) %>
    </div>

    <div class="field">
      <%= f.label :summary %><br />
      <%= f.text_area :summary %>
    </div>
  <% end %>
  
  <%= field_set_tag 'Content' do -%> 
    <div class="field">
      <%= f.label :main_content %><br />
      <%= f.text_area :main_content, :class => 'tinymce' %>
    </div>
  <% end %>
  
  <%= field_set_tag 'Images' do -%> 
    <%= f.image_field :image, :alt => true %>
  <% end %>
  
  <%= field_set_tag 'Categories' do -%> 
  	<p class="admin_note">
  		Type a comma seperated list of categories for this news article here.  Press ',' between each entry.
  		Or select from recently used categories below.
  	</p>
    <div class="field">
  	  <%= f.tag_field :categories %>
    </div> 
  <% end %>
  
  <%= field_set_tag 'Settings' do -%>
    <div class="field">
      <%= f.label :display %><br />
      <%= f.check_box :display %>
    </div>    
  <% end -%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>					
