<%= form_for([:admin, @partner]) do |f| %>

  <%= f.error_messages %>

  <%= field_set_tag 'Basic' do -%>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :website %><br />
      <%= f.text_field :website %>
    </div>
  <% end -%>

  <%= field_set_tag 'Images' do -%>
    <%= f.image_field :logo %>
  <% end -%>

  <%= field_set_tag 'Settings' do -%>
    <div class="field">
      <%= f.label :display %><br />
      <%= f.check_box :display %>
    </div>    
  <% end -%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>					
