<div id="left-team-member">
  <% if @page.team_member_heading %>
    <h2><%= @page.team_member_heading %></h2>
  <% end %>

  <% if @page.team_member_introduction %>
    <p>
      <%= @page.team_member_introduction %>
    </p>
  <% end %>

  <div id="left-team-member-contact">
    <% if @page.team_member.image? %>
      <%= image_tag @page.team_member.image.thumb, :alt => @page.team_member.image_alt %>
    <% end %>

    <h3><%= @page.team_member.name %></h3>

    <% if @page.team_member.phone? %>
      <%= @page.team_member.phone %><br />
    <% end %>

    <% if @page.team_member.mobile? %>
      <%= @page.team_member.mobile %><br />
    <% end %>

    <% if @page.team_member.email? %>
      <%= mail_to @page.team_member.email, 'email me' %>
    <% end %>

    <div class="clear"></div>
  </div>
</div>  
