<li><%= link_to 'Achievements', main_app.admin_achievements_path %></li>
<li><%= link_to 'Articles', main_app.admin_articles_path %></li>
<li><%= link_to 'Banners', main_app.admin_banners_path %></li>
<li><%= link_to 'Business Highlights', main_app.admin_business_highlights_path %></li>
<li><%= link_to 'Businesses', main_app.admin_businesses_path %></li>
<li><%= link_to 'Emails', main_app.admin_emails_path %></li>
<!-- <li><%#= link_to 'Dine Week Participants', main_app.admin_dine_week_participants_path %></li> -->
<li><%= link_to 'FAQs', main_app.admin_faqs_path %></li>
<li><%= link_to 'Footfall Data Entries', main_app.admin_footfall_data_entries_path %></li>
<li><%= link_to 'Pages', main_app.admin_pages_path %></li>
<li><%= link_to 'Partners', main_app.admin_partners_path %></li>
<li><%= link_to 'Projects', main_app.admin_projects_path %></li>
<li><%= link_to 'Resources', main_app.admin_resources_path %></li>
<li><%= link_to 'Team Members', main_app.admin_team_members_path %></li>
<li><span>Events</span></li>
<li><%= link_to 'Events', main_app.admin_events_path %></li>
<li><%= link_to 'Event Galleries', main_app.admin_event_galleries_path %></li>
<li><%= link_to DefaultGalleryImage.model_name.human.pluralize, main_app.admin_default_gallery_images_path %></li>
<%# END OF LIST %>
